@import "./variables.scss";
@import "./home.scss";
@import "./home_bottom_nav_bar.scss";
@import "./home_tab.scss";
@import "./signup_send_email_verification.scss";
@import "./otp_verification.scss";
@import "./sign_up_form.scss";
@import "./select_location_map.scss";
@import "./select_location.scss";

body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  background-color: #eee;
  height: 100vh;

  .app-container {
    width: 100%;
    max-width: 500px;
    background-color: white;
  }
}

.ant-btn {
  color: white;
  font-weight: bold;
  border-radius: 7px;
  height: 2.5rem;

  &:focus,
  &:hover {
    color: white;
  }

  &:disabled {
    background-color: rgba($primary-color, 0.5);
    color: white;
  }
}

.ant-btn-text {
  &:disabled {
    span {
      color: #ccc;
      text-decoration: underline;
    }
  }

  span {
    color: $primary-color;
    text-decoration: underline;
  }
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: black;
  }
}

.ant-input,
.ant-select-selector {
  border-radius: 7px !important;
}

.loading-spin {
  color: $primary-color;
}

.ant-btn-primary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.od-header {
  position: relative;
  display: flex;
  justify-content: flex-end;

  .back-btn {
    position: relative;
    z-index: 1;
  }

  .title-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      margin: 0px;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}

.user-address-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;

  .leading-icon {
    cursor: pointer;

    .anticon-environment {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }

  .details {
    flex-basis: 100%;
    cursor: pointer;

    .name {
      font-weight: bold;
    }
  }

  .save-btn {
    margin-left: auto;

    span {
      color: #ccc;
    }

    &.saved {
      span {
        color: $primary-color;
      }
    }
  }
}

.ant-spin-container {
  height: 100%;

  & > div {
    height: 100%;
  }
}
