@import "./variables.scss";

.select-location-map {
  display: flex;
  flex-direction: column;
  height: 100%;

  .map-wrapper {
    height: 100%;
    position: relative;
    padding-bottom: 9rem;

    .back-btn {
      position: absolute;
      z-index: 1;
    }

    & > div {
      height: 100%;
    }

    .location-search {
      height: 12rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: white;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      box-shadow: $box-shadow;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .search-location-btn {
        background-color: #eee;
        border-radius: 10px;
        padding: 0.5rem 0.5rem;
        display: flex;
        align-items: center;
        color: grey;
        cursor: pointer;

        .anticon-search {
          margin-right: 0.5rem;
        }
      }

      .user-address-item {
        .leading-icon {
          background-color: rgba($color: $primary-color, $alpha: 0.2);
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;

          .anticon-environment {
            margin: 0px;
            color: $primary-color;
          }
        }
      }

      .confirm-address-btn {
        width: 18rem;
      }
    }
  }
}
